.vscode/**
.vscode-test/**
node_modules/**
!node_modules/react/umd/react.development.js
!node_modules/react-dom/umd/react-dom.development.js
out/test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts