.vscode/**
.vscode-test/**
src/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/@types/vscode/**
!node_modules/@types/node/**
.gitignore
.yarnrc
webpack.config.js
.eslintignore
.eslintrc.js
.prettierrc
.prettierignore
**/test/**
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx